.jumbotron {
  background-color: #f2ff00;
  color: #00bd0d;
  margin-top: 50px;
  margin-bottom: 50px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #ff0000;
  margin-bottom: 0px;
  color: white; }

a.footer-link {
  color: white; }

.card-hotel {
  flex: 1 150px;
  padding: 10px 4px 2px 4px; }

.btn-mybutton {
  width: 100%;
  color: white;
  background-color: steelblue;
  border-color: steelblue; }

.btn-mybutton:hover {
  color: steelblue;
  background-color: white;
  border-color: steelblue; }

.footer-icon {
  padding-right: 10px; }

body {
  padding: 0px 0px 0px 0px; }

.card-hotel {
  flex: 1 300px;
  padding: 2px 2px 2px 2px;
  margin-top: 5px; }

.banner {
  padding-top: 25px;
  margin-bottom: 5px; }

.collapsable-info-btn {
  height: 80px; }

.carousel {
  padding-top: 25px; }
