@hotel-yellow: #f2ff00;
@hotel-red: #ff0000;
@hotel-green: #00bd0d;

.margin-setter(@top, @bottom) {
	margin-top: @top;
	margin-bottom: @bottom;
}

.padding-setter(@top, @right, @bottom, @left) {
	padding: @top @right @bottom @left;
}

.jumbotron {
    background-color: @hotel-yellow;
    color: @hotel-green;
	.margin-setter(50px, 50px);
}

footer {
	.padding-setter(10px, 10px, 0, 10px);
    background-color: @hotel-red;
    margin-bottom: 0px;
    color: white;
}

a.footer-link {
    color: white;
}

.card-hotel {
    flex: 1 150px;
    padding: 10px 4px 2px 4px;
}

.btn-mybutton {
    width: 100%;    
    color: white;
    background-color: steelblue;
    border-color: steelblue;
}

.btn-mybutton:hover {
    color: steelblue;
    background-color: white;
    border-color: steelblue;
}

.footer-icon {
    padding-right: 10px;
}

body {
    padding: 0px 0px 0px 0px;
}

.card-hotel {
    flex: 1 300px;
    padding: 2px 2px 2px 2px;
    margin-top: 5px;
}

.banner {
    padding-top: 25px;
    margin-bottom: 5px;
}

.collapsable-info-btn {
    height: 80px;
}

.carousel {
    padding-top: 25px;
}